html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  font-family: 'Oswald', sans-serif;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.topright {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.topright li {
  display: inline-block;
  margin-right: 8px;
}

.topright a {
  text-decoration: none;
  padding: 4px;
}

.topright a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.bottomright {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.bottomright li {
  display: inline-block;
  margin-right: 8px;
}

.bottomright a {
  text-decoration: none;
  padding: 4px;
}

.bottomright a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
