html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  font-family: 'Oswald', sans-serif;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.teams {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.teams li {
  display: inline-block;
  margin-right: 8px;
}

.teams a {
  text-decoration: none;
  padding: 4px;
}

.teams a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.media {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.media li {
  display: inline-block;
  margin-right: 8px;
}

.media a {
  text-decoration: none;
  padding: 4px;
}

.media a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
